<%= form_tag("/events/#{@event.id}/update", method: :post) do %>
	<h3>イベント情報を編集</h3>
    <div class="row">
        <div class='col-sm-3'>
            <div class="form-group">
                <h4>イベント開始日時（必須）</h4>
                    <div class="input-group">
                        <input name="startdate" type="text" class="form-control date" value="<%= "#{@event.startdate}" %>">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
            </div>
        </div>
        <div class='col-sm-3'>
            <div class="form-group">
                <h4>終了予定日時（必須）</h4>
                    <div class="input-group">
                        <input name="enddate" type="text" class="form-control date" value="<%= "#{@event.enddate}" %>">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">     
        <div class='col-sm-3'>       
            <div class="form-group">              
                <h4>イベント名（必須）</h4>
                <input name="name" size="30" type="text" value="<%= "#{@event.name}" %>">
            </div>
        </div>
        <div class='col-sm-3'>       
            <div class="form-group">              
                <h4>場所</h4>
                <input name="location" size="30" type="text" value="<%= "#{@event.location}" %>">
            </div>
        </div>
        <div class='col-sm-3'>       
            <div class="form-group">              
                <h4>メモ</h4>
                <input name="memo" size="30" type="text" value="<%= "#{@event.memo}" %>">
            </div>
        </div>
    </div>
    <input type="submit" name="commit" value="変更保存" class="btn btn-primary ">        
<% end %>


