<% @event.each do |event| %>
	<div class="event-content">
		<div>
			<%= "内容：" %><%= link_to event.name, "/events/#{event.id}/show" %>
		</div>
		<div>
			<%= "開始日時：" %><br><%= event.startdate %>
		</div>
		<div>
			<%= "終了日時：" %><br><%= event.enddate %>
		</div>
	</div>		
<% end %>