<div class="event-content">
	<div>
		<h3>イベント詳細</h3>
	</div>
	<div>
		<%= "イベント名：" + @event.name %>
	</div>
	<div>
		<%= "開始日時：" + @event.startdate %>
	</div>
	<div>
		<%= "終了日時：" + @event.enddate %>
	</div>
	<div>
		<%= "場所：" + @event.location %>			
	</div>			
	<div>
		<%= "メモ：" + @event.memo %>
	</div>
	<% if @event.user_id == @current_user.id %>
		<div class="button-edit">
			<%= button_to "編集", "/events/#{@event.id}/edit", class: "btn btn-primary", method: :get %>
		</div>
		<div class="button-del">
			<%= button_to "削除", "/events/#{@event.id}/delete", class: "btn btn-primary", method: :delete %>
		</div>
	<% end %>
</div>